*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: #ECF2F8;
  font-family: 'Manrope', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.card {
  background: #FFF;
  border-radius: .625rem;
  box-shadow: 0 5px 7px -3px #bdbdbd;
  margin: 9.5rem auto;
  overflow: hidden;
  text-align: left;
  width: 20.4375rem;

  &__author {
    display: flex;

   &--image {
     border-radius: 50%;
     margin-right: 1rem;
     max-height: 2.5rem;
     max-width: 2.5rem;
   }

    &--name {
      color: #48556A;
    }
  }

  &__date {
    color: #9DAEC2;
    font-size: .81rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 2rem;

    &:hover {
      background-color: #48556A;

      .card__author {
        display: none;
      }

      .card__social {
        display: flex;
      }
    }
  }

  &__image {
    height: 12.5rem;
    margin-bottom: 2.25rem;
    width: 100%;
  }

  &__social {
    align-items: center;
    display: none;

    img {
      margin-left: 1rem;
    }
  }

  &__share {
    background-color: #ECF2F8;
    background-image: url("../images/icon-share.svg");
    background-position: center;
    background-position-x: 8px;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
  }

  &__share-text {
    color: #9DAEC2;
    letter-spacing: 5px;
    font-size: .8rem;
    text-transform: uppercase;
  }

  &__title {
    color: #48556A;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: .75rem;
  }

  &__text {
    color: #6E8098;
    font-size: .81rem;
    font-weight: 500;
    margin-bottom: 1rem;
    width: 97%;
  }

  &__text-box {
    padding: 0 2rem;
  }
}
.footer {
  .attribution {
    padding-top: 1rem;
    font-size: 11px; text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}